body {
  background-color: #f9fbfd;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 36px;
}

.table {
  margin-bottom: 0px;
}

.form-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 36px;
  border-radius: 15px;
  padding: 4px 20px 20px 20px;
  background-color: #FFFFFF;
}

